  {
    "name": "${container_name}",
    "essential": true,
    "image": "${image}",
    "portMappings": [${port_mappings}],
    "cpu": ${cpu},
    "memory": ${mem},
    "dnsServers": [
      ${dns_servers}
    ],
    "logConfiguration": {
      "logDriver": "${log_driver}",
      "options": ${log_configuration_options}
    },
    "environment": [
      ${container_env}
    ],
    "dockerLabels": ${labels},
    "mountPoints": [
      ${mountpoint_sourceVolume == "none" ? "" :
          format(
            "{ \"sourceVolume\": \"%s\", \"containerPath\": \"%s\", \"readOnly\": %s }",
            mountpoint_sourceVolume,
            mountpoint_containerPath,
            mountpoint_readOnly
          )
      }
    ]
  }
